<div class="bg-white">
	<div class="flex max-w-lg mt-24 sm:max-w-xl md:max-w-4xl lg:max-w-4xl mx-auto py-6">

		<div class="w-full flex flex-wrap overflow-hidden">

			<div class="flex flex-col items-center overflow-hidden lg:my-3 lg:px-2 lg:w-1/3">
				<div class="">
					<img class="object-cover rounded-full h-32 w-32 mt-8" src=https://lh3.googleusercontent.com/pHblR3bZeseeY4OM-MVwktFFMu_0lUOeb6SdA9Fm5s7zcShLytseISsln41956bQG1GEGQ=s85 alt="Detailed image description would go here.">
				</div>
				<p class=" text-center">Update photo</p>

			</div>

			<div class="w-full overflow-hidden lg:w-2/3">
				<h1 class="text-2xl font-semibold text-gray-900 leading-tight sm:mt-8 sm:text-4xl lg:text-3xl xl:text-4xl"><%= "Welcome #{@current_user.first_name}!" %></h1>
				<p><%= @current_user.profile.about %>
				<%# @current_user.listings.bookings %>
				<li class="list-none">
					<%= link_to "Edit profile", edit_profile_path(@profile) %>
				</li>
			</div>

		</div>
	</div>

	<div class="flex max-w-lg mt-24 sm:max-w-xl md:max-w-4xl lg:max-w-4xl mx-auto py-6">





	</div>





</div>	